
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}


.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.header-title {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.nav-item {
  display: inline;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}


.main-content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  color: #444;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.section-text {
  font-size: 1.1em;
  line-height: 1.6;
}

.projects-list {
  list-style-type: square;
  padding-left: 20px;
}

.project-item {
  margin: 5px 0;
}


.contact-link {
  color: #007BFF;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}


.footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}


@media (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
    }
    button {
        display: block;
    }
}

